@charset "utf-8";
@@font-face {
  font-family: "rounded-mplus-1p-light";
  url('../fonts/rounded-mplus-1p-light.ttf') format('truetype')
}
/* common */

body {
  font-size: 14px;
  font-family: "rounded-mplus-1p-light";
  color: #333;
}

a {
  text-decoration: none;
}

p {
  line-height: 2;
}

.btn {
  display: inline-block;
  width: 96px;
  line-height: 45px;
  background: #fff;
  text-align: center;
  color: #ccc;
  opacity: 0.7;
  float: left;
}
#btn_form {
  display: inline-block;
  width: 290px;
  line-height: 45px;
  background: #fff;
  text-align: center;
  border-radius: 5px;
  color: #ccc;
  opacity: 0.7;

}
#instagramButton {
  margin-right: 1px;
  margin-left: 1px;

}
#twitterButton {
  border-radius: 5px 0px 0px 5px;
}
#facebookButton {
  border-radius: 0px 5px 5px 0px;
}

.btn:hover {
  opacity: 1:
}

img.shadow {
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

section {
  padding: 90px 0;
}
section:nth-child(odd) {
  background: #f8f8f8;
}

section .container {
  width: 820px;
  margin: 0 auto;
}

section h2 {
  font-size: 26px;
  text-align: center;
  margin: 0 0 90px;
  font-weight: normal;
}

section h2:after {
  display: block;
  font-size: 18px;
  color: #aaa;
  padding-top: 10px;
}
/* header */

header {
  background: url('../imgs/headerBg.JPG') ;
  background-size: cover;
}

header .container {
  width: 740px;
  margin: 0 auto;
  height: 320px;
  padding-top: 10px;
  position: relative;
  overflow: hidden;
}

header h1, header p {
  color: #fff;
}
header p {
  padding-top: 50px;
}
header h1 {
  font-size: 34px;
  margin-top: 50px;
}

header img {
  position: absolute;
  right:0;
  bottom:0;
  border-radius: 3px;
}
/* favos */

.favos h2:after {
  content: '- My Favorites -';
}

.desc {
  width: 360px;
}

.pull-right {
  float: right;
  padding-left: 40px;
}
.pull-left {
  float: left;
  padding-right: 40px;
}
.row {
  overflow: hidden;
  margin-bottom: 90px;
}

.row: last-child {
  margin-bottom: 0;
}
.favos h3 {
  font-size: 24px;
}
/* languages */

.languages h2:after {
  content: '- Now Learning -';
}

.language img {
  border-radius: 50%;
  border: 5px solid #fff;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: -60px;
}

.language {
  background: #fff;
  width: 250px;
  box-sizing: border-box;
  padding: 65px 40px 26px;
  position: relative;
}

.language h3 {
  text-align: center;
}

.languages .container {
  display: flex;
  justify-content: space-between;
}

.languages h2 {
  margin-bottom: 150px;
}

/* araticles */

.articles .container {
  display: flex;
  justify-content: space-between;
}
.articles h2 {
  margin-bottom: 72px;
}
.articles h2:after {
  content: '- My Articles -';
}

.articles .container ul li {
  font-size: 14px;
}
.articles .container ul li .article-title {
  font-size: 18px;
  color: #000;
}

/* call-to-action */
/*.call-to-action {
  width: 100%;
  height: 124px;
  background: url('../imgs/headerBg.JPG') ;
  background-size: cover;
  text-align: center;
}

.call-to-action h2 {
  color: #fff;
  margin-bottom: 50px;
}*/

/* footer */

footer {
  padding: 90px 0;
  text-align: center;
  color: #ccc;
  background-color: #f8f8f8;
}
